asgiref==3.11.1
automium==0.2.6
automium_web==0.1.1
blinker==1.9.0
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
cssselect2==0.9.0
Django==6.0.6
django-crispy-forms==2.6
django-debug-toolbar==7.0.0
django-qrcode==0.3
django-redis==7.0.0
et_xmlfile==2.0.0
Flask==3.1.3
fonttools==4.63.0
idna==3.18
itsdangerous==2.2.0
jalali_core==1.0.0
jdatetime==5.3.0
Jinja2==3.1.6
legacy==0.1.7
MarkupSafe==3.0.3
openpyxl==3.1.5
order==2.1.7
pillow==12.3.0
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dotenv==1.2.2
pytz==2026.2
qrcode==8.2
redis==8.0.1
requests==2.34.2
rq==2.10.0
scinum==2.2.2
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
transaction==5.1
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
Werkzeug==3.1.8
zibal_payment==1.0.2
zope.interface==8.5
zopfli==0.4.3